In [1]:
# necessary packages
import pickle

import pandas as pd 
import numpy as np

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt
%matplotlib inline

In [6]:
from google.colab import drive

drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
train_data = pd.read_pickle('/content/drive/MyDrive/project/data_multimodal.pkl')
train_data

,images,id,clean_title,2_way_label
0,"[[[18, 24, 19], [19, 24, 22], [25, 30, 29], [3...",cds1cls,body slam,0
1,"[[[255, 255, 255], [255, 255, 255], [255, 255,...",cob0dcf,im not really good at this,0
2,"[[[254, 220, 134], [255, 223, 140], [255, 222,...",csl85z,bureau of prisons chief removed in wake of jef...,1
3,"[[[196, 196, 196], [196, 196, 196], [196, 196,...",dcqujt,nasa news an incredible black hole appeared on...,0
4,"[[[216, 197, 159], [209, 190, 150], [216, 198,...",b0gc3d,this loadbearing piece of wood eaten by termit...,1
...,...,...,...,...
5077,"[[[105, 114, 128], [113, 122, 136], [113, 122,...",c7dobn,the reinforcement on these identical pieces of...,1
5078,"[[[13, 5, 6], [15, 6, 7], [15, 7, 8], [14, 7, ...",crczvy,at halftime of sdsus basketball game they auct...,1
5079,"[[[117, 116, 208], [103, 103, 201], [106, 107,...",byh5dw,revolution syria,0
5080,"[[[255, 255, 255], [255, 254, 254], [255, 255,...",9fb69a,this spider on my back porch disguises itself ...,1
5081,"[[[7, 9, 10], [7, 9, 10], [6, 8, 9], [5, 7, 8]...",blqg9q,in just over two years the copper in my iems h...,1

In [13]:
# splitting dataframe by row index
df_test= train_data.iloc[:945,:]
df_train = train_data.iloc[945:,:]

In [14]:
df_train= df_train[['clean_title','2_way_label']]
df_test = df_test[['clean_title','2_way_label']]
df_train

                                            clean_title  2_way_label
945   trump invites putin to washington despite us u...            1
946   this little guy was sleeping right next to my ...            1
947                      a lightshade or an evil entity            0
948                move along nothing to see here folks            0
949                                             cutouts            0
...                                                 ...          ...
5077  the reinforcement on these identical pieces of...            1
5078  at halftime of sdsus basketball game they auct...            1
5079                                   revolution syria            0
5080  this spider on my back porch disguises itself ...            1
5081  in just over two years the copper in my iems h...            1

[4137 rows x 2 columns]

In [15]:
from sklearn.utils import shuffle

def xy_data(data):

  data.reset_index(inplace=True, drop=True)

  x_features = data['clean_title']
  
  y = data['2_way_label']
  
  display(x_features.head())
  display(y.head())

  return x_features, y

X_train_t, y_train_t = xy_data(df_train)
 
X_test_t, y_test_t = xy_data(df_test)

0    trump invites putin to washington despite us u...
1    this little guy was sleeping right next to my ...
2                       a lightshade or an evil entity
3                 move along nothing to see here folks
4                                              cutouts
Name: clean_title, dtype: object

0    1
1    1
2    0
3    0
4    0
Name: 2_way_label, dtype: int64

0                                            body slam
1                           im not really good at this
2    bureau of prisons chief removed in wake of jef...
3    nasa news an incredible black hole appeared on...
4    this loadbearing piece of wood eaten by termit...
Name: clean_title, dtype: object

0    0
1    0
2    1
3    0
4    1
Name: 2_way_label, dtype: int64

# Tokenizer 

fit_on_texts  - Updates internal vocabulary depending 
on a list of texts. Based on word frequency, this technique generates the vocabulary index. Every word will be assigned a distinct integer value in a dictionary that is created as a word -> index dictionary. Padding is allocated for 0. Lower integer hence indicates more frequent term (often the first few are stop words because they appear a lot).

texts to sequences - Converts each text in texts into an integer sequence. Consequently, it essentially replaces each word in the text with its associated integer value from the word index dictionary.

In [16]:
from keras.preprocessing.text import Tokenizer

from keras_preprocessing.sequence import pad_sequences

tokenizer = Tokenizer()
tokenizer.fit_on_texts(X_train_t)

X_train_t = tokenizer.texts_to_sequences(X_train_t)
X_test_t = tokenizer.texts_to_sequences(X_test_t)

vocab_size = len(tokenizer.word_index) + 1

maxlen = 300

X_train_t = pad_sequences(X_train_t, padding='post', maxlen=maxlen)
X_test_t= pad_sequences(X_test_t, padding='post', maxlen=maxlen)

In [19]:
#save the train features for later use

with open('train_features_text.pkl', 'wb') as df_file:
  pickle.dump(X_train_t, file = df_file)

In [20]:
#save the test features for later use

with open('test_features_text.pkl', 'wb') as df_file:
  pickle.dump(X_test_t, file = df_file)

In [21]:
#save the train labels for later use

with open('train_labels.pkl', 'wb') as df_file:
  pickle.dump(y_train_t, file = df_file)

In [22]:
#save the test labels for later use

with open('test_labels.pkl', 'wb') as df_file:
  pickle.dump(y_test_t, file = df_file)